:root{
    --_main: #df6b42;
}

html{
    height: 100%;
}
body{
    height: 100%;
}

[editor-outline]{
    outline: 3px dashed var(--_main);
}

[editor-selected]{
    outline: 3px solid var(--_main);
}